apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: ecommerce
  labels:
    app: backend
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        prometheus.io/scrape: "true"   # Prometheus will scrape this pod
        prometheus.io/port: "5000"     # Port where metrics are exposed
        prometheus.io/path: "/metrics" # Path for metrics
    spec:
      containers:
        - name: backend
          image: sachinn9700/ecommerce-backend:latest
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
