apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        prometheus.io/scrape: "true"   # Prometheus will scrape this pod
        prometheus.io/port: "8000"     # Port where metrics are exposed
        prometheus.io/path: "/metrics" # your backend must expose this endpoint
    spec:
      containers:
        - name: backend
          image: sachinbashetti/backend:latest 
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
