apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: backend
  namespace: ecommerce
spec:
  selector:
    app: backend
  ports:
    - port: 8000
      targetPort: 8000
  type: ClusterIP  
